@import '../../../index.scss';

.container {
	margin-top: 150px;
	@media (max-width: 768px) {
		margin-top: 100px;
	}
	@media (max-width: 423.98px) {
		margin-top: 70px;
	}
	h2 {
		text-align: center;
		font-size: 64px;
		color: $VeryDark_violet;
		line-height: 150%;
		font-weight: 700;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: 1023.98px) {
			font-size: 48px;
		}
		@media (max-width: 768px) {
			font-size: 42px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		@media (max-width: 423.98px) {
			font-size: 34px;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	p {
		text-align: center;
		color: $Gray;
		line-height: 165%;
		&:not(:last-child) {
			margin-bottom: 140px;
		}
		@media (max-width: 1023.98px) {
			font-size: 16px;
			&:not(:last-child) {
				margin-bottom: 90px;
			}
		}
		@media (max-width: 423.98px) {
			font-size: 14px;
			&:not(:last-child) {
				margin-bottom: 65px;
			}
		}
	}
}

.statistic {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 25px;
	@media (max-width: 767.98px) {
		flex-wrap: wrap;
		justify-content: center;
	}
	&::before {
		content: '';
		position: absolute;
		bottom: 50%;
		left: 0;
		height: 5px;
		width: 100%;
		background-color: $Cyan;
		z-index: -1;
		@media (max-width: 767.98px) {
			top: 0;
			left: calc(50% - 2.5px);
			height: 100%;
			width: 5px;
		}
	}
	&__card {
		flex: 0 1 33.333%;
		background-color: #ffff;
		-webkit-box-shadow: 0px 0px 10px 1px $Grayish_violet;
		-moz-box-shadow: 0px 0px 10px 1px $Grayish_violet;
		box-shadow: 0px 0px 10px 1px $Grayish_violet;
		padding: 0px 20px 25px;
		&:nth-child(2) {
			transform: translateY(45px);
		}
		&:nth-child(3) {
			transform: translateY(90px);
		}
		@media (max-width: 767.98px) {
			flex: 0 1 70%;
			text-align: center;
		}
		@media (max-width: 525px) {
			flex: 0 1 100%;
			&:nth-child(2) {
				transform: translateY(30px);
			}
			&:nth-child(3) {
				transform: translateY(75px);
			}
		}
	}
	&__icon {
		flex: 0 0 50px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		border-radius: 50%;
		background-color: $Dark_violet;
		transform: translateY(-50%);
		@media (max-width: 525px) {
			transform: translateY(-30%);
		}
	}
	&__description {
		h3 {
			font-size: 20px;
			color: $VeryDark_violet;
			line-height: 150%;
			font-weight: 700;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
			@media (max-width: 1023.98px) {
				font-size: 18px;
			}
		}
		p {
			text-align: start;
			color: $Gray;
			line-height: 150%;
			@media (max-width: 1023.98px) {
				font-size: 16px;
			}
			@media (max-width: 424.98px) {
				font-size: 14px;
			}
		}
	}
}
