@import '../../../index.scss';

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 35px;
	padding: 20px;
	background-color: #ffff;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 10px 1px $Grayish_violet;
	-moz-box-shadow: 0px 0px 10px 1px $Grayish_violet;
	box-shadow: 0px 0px 10px 1px $Grayish_violet;
	position: relative;
	@media (max-width: 686.98px) {
		flex-direction: column;
		padding: 15px;
		align-items: flex-start;
	}
	@media (max-width: 425px) {
		gap: 25px;
	}
}
.oldLink {
	flex: 1 1 80%;
	display: block;
	font-size: 18px;
	color: $VeryDark_violet;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px 0;
	@media (max-width: 686.98px) {
		flex: 1 1 100%;
		font-size: 16px;
		justify-self: center;
		margin-top: 10px;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 70%;
			width: 100%;
			height: 2px;
			background-color: $Grayish_violet;
		}
	}
	@media (max-width: 531.98px) {
		width: 380px;
	}
	@media (max-width: 424.98px) {
		width: 250px;
	}
}
.result {
	flex: 1 1 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 25px;
	width: 100%;
	@media (max-width: 686.98px) {
		margin-top: 5px;
		flex: 1 1 100%;
		flex-direction: column;
		gap: 20px;
		align-items: flex-start;
	}
	@media (max-width: 425px) {
		gap: 18px;
	}
	&__newLink {
		color: $Cyan;
		flex: 1 1 auto;
	}
	button {
		gap: 6px;
		width: 100px;
		@media (max-width: 686.98px) {
			width: 100%;
		}
	}
}
