@import '../../index.scss';

.container {
	margin-top: 250px;
	padding: 20px;
	background-color: $Dark_violet;
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	position: relative;
	overflow: hidden;
	z-index: 2;
	@media (max-width: 1023.98px) {
		margin-top: 200px;
	}
	@media (max-width: 767.98px) {
		margin-top: 180px;
	}
	@media (max-width: 424.98px) {
		margin-top: 140px;
	}
	h2 {
		font-size: 42px;
		line-height: 145%;
		font-weight: 700;
		color: #ffff;
		@media (max-width: 767.98px) {
			font-size: 32px;
		}
		@media (max-width: 424.98px) {
			font-size: 24px;
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
