@import '../../../index.scss';

.rounded_btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $Cyan;
	padding: 0.938rem 1.25rem;
	border-radius: 10px;
	letter-spacing: 1px;
	color: #fff;
	transition: all 0.3s ease;
	&:hover {
		opacity: 0.6;
		transition: all 0.3s ease;
	}
}
