@import '../../../index.scss';

.oval_btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $Cyan;
	padding: 15px 25px;
	border-radius: 50px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		opacity: 0.6;
		transition: all 0.3s ease;
	}
	@media (max-width: 767.98px) {
		font-size: 16px;
	}
	a {
		color: #fff;
	}
}
.mod {
	background-color: transparent;
	color: $VeryDark_blue;
	font-size: 16px;
	&:hover {
		background-color: $Cyan;
		color: #fff;
		transition: all 0.3s ease;
	}
	a {
		color: $VeryDark_blue;
	}
}
