@import '../../index.scss';

.shortener {
	margin-top: 250px;
	transform: translateY(-50px);

	&__container {
		position: relative;
		z-index: 2;
		padding: 60px;
		background-color: $Dark_violet;
		border-radius: 15px;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
		form {
			display: flex;
			column-gap: 25px;
			input {
				flex: 0 1 85%;
			}
			button {
				flex: 0 1 15%;
			}
		}
	}
}
