@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

//? _____________Colors______________
//* Primary
$Cyan: hsl(180, 66%, 49%);
$Dark_violet: hsl(257, 27%, 26%);

//* Secondary
$Red: hsl(0, 87%, 67%);

//* Neutral
$Gray: hsl(0, 0%, 75%);
$Grayish_violet: hsl(257, 7%, 63%);
$VeryDark_blue: hsl(255, 11%, 22%);
$VeryDark_violet: hsl(260, 8%, 14%);

//? _____Null_Styles_____
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
	overflow-x: hidden;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

body {
	&::-webkit-scrollbar {
		background-color: transparent;
		width: 5px;
		position: absolute;
		top: 0;
		right: 0;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $Dark_violet;
		border-radius: 5px;
	}
}
